*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none}
nav,header,footer,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14xp;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


.wrapper {
	min-height: 100%;
	display: grid;
	background-color: #333333;
	grid-template: minmax(100px, auto) 1fr	minmax(70px, auto) / 1fr;
	grid-template-areas:
	"header"
	"main"
	"footer";
}
.header {
	grid-area: header;
	padding: 15px;
	background-color: #794f45;
	display: grid;
	align-items: center;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.header__logo {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	background-color: #fff;
	grid-column: 2 / 3;
}
.header__menu {
	grid-column: 3 / 4;
}
.header__list {
	display: grid;
	grid-auto-flow: column;
	justify-items: end;
}
.header__list li {}
.header__link {
	color: #fff;
	font-size: 18px;
}
.header__burger {}
.main {
	padding: 30px 15px;
}

@media (min-width: 992px){
	.main {
		grid-area: main;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}
}

.sidebar {
	grid-column: 2 / 3;
	background-color: #7a956b;
	padding:30px 15px;
}
.sidebar__menu {}
.sidebar__list {

}
.sidebar__list li{
	margin-bottom: 15px;
}
.sidebar__link {
	color: #fff;
	font-size: 20px;
}
.content {
	grid-column: 3 / 4;
	padding: 0 0 0 30px;
}
.content__title {
	color: #fff;
	font-size: 35px;
	margin-bottom: 25px;
}
.content__gallery {
	margin-bottom: 30px;
}
.gallery {}
.gallary__title {
	color: #fff;
	font-size: 25px;
	margin-bottom: 15px;
}
.gallery__items {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.gallery__item {
	position: relative;
	padding-bottom: 85%;
}
.gallery__item img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery__item_big {
	grid-column: span 2;
	grid-row: span 2;
}
.content__products {}
.products {}
.products__title {
	color: #fff;
	font-size: 25px;
	margin-bottom: 15px;
}
.products__items {
	display: grid;
	column-gap: 30px;
	row-gap: 50px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.products__item {
	display: grid;
	grid-auto-flow: row;
	grid-template: auto 1fr minmax(40px, auto) / 1fr;
}
.products__image {
	position: relative;
	padding-bottom: 90%;
	margin-bottom: 20px;
}
.products__image img{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.products__name {
	font-size: 24px;
	color: #fff;
	line-height: 30px;
	margin-bottom: 7px;
}
.products__button {
	color: #fff;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
	line-height: 40px;
	justify-self: start;
	background-color: #77608d;
	padding: 0px 40px;
}
.footer {
	color: #fff;
	background-color: #77608d;
	display: grid;
	grid-area: footer;
	padding: 15px;
	align-items: center;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}
.footer__copy {
	grid-column: 2 / 3;
}
.footer__text {
	grid-column: 3 / 4;
	justify-self: end;
}